<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{show.name}}</h1>
      <button class="button button-secondary" ng-click="modal.hide()">Annuler</button>
    </ion-header-bar>
    <ion-content>
    	<div>
      		Entrez votre nom et le nombre de places que vous souhaitez
      	</div>
       	<label class="item item-input">
  			<span class="input-label">Votre nom</span>
  			<input type="text" ng-model="user_name">
		</label>
		<label class="item item-input">
    		<span class="input-label">Nombre de places</span>
   			<input type="number" ng-model="seats">
  		</label>
  		<button class="button button-block button-positive"	ng-click="book(user_name, seats)" ng-disabled="!seats || !user_name">
  		Réserver au nom de {{user_name || ''}} pour {{show.price * seats || 0}}€
		</button>
    </ion-content>
   
</ion-modal-view>